body {
  background: white;
}

body::after {
  content: "";
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/2/2b/GoraBeluha.jpg');
  background-size: 100%;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  font-size: 80px;
  font-family:serif;
  opacity: .7;
}

.title {
  text-align: center;
  color: #FFF;
}

.triangle_form {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

#result {
  display: none;
  margin-top: 50px;
  text-align: center;
  font-family:serif;
}
